</body>

<footer>
  <img src="https://cdn-icons-png.flaticon.com/512/2111/2111432.png" alt="" width="2%" height="2%"> Copyright 2023 The
  <a class="footerLink" href="https://github.com/CodeToysRUs">CodeToysRUs</a> .
</footer>

</html>